
:root {
    font-family: 'Acme', sans-serif;
    background-color: rgba(179, 224, 245, 1);
    margin: 0;
    width: 100%;
}

body{
    background-color: rgba(179, 224, 245, 1);
}

.logo{
    width: 15%;
    height: 15%;
    border-radius: 50%;
    margin-top: 30px;
}

.contentNav{
    font-family: 'Acme', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin-left:30px;
    margin-right: 30px;
}

.buttonnav {
    background-color: rgba(255, 169, 184, 1);
    width: 200px;
    height: 50px;
    color: #fff;
    padding: 10px 20px;
    font-family: 'acme', sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    cursor: pointer;
}

.conf{
    width: 70px;
    height: 70px;
}

.list{ 
    font-family: 'Acme', sans-serif;
    padding-left: 5%;
    margin-top: 30px;
}

.content{ 
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.formList{
    font-family: 'Acme', sans-serif;
    background-color: rgba(255, 226, 167, 1);
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    width: 30%;
    padding: 30px;
}

.labelForm{
    display: block;
}

.inputForm{ 
    width: 100%;
}

.buttonForm {
    display: block;
    background-color: rgba(179, 224, 245, 1);
    width: 120px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 3px;
    color: #fff;
    padding: 10px 20px;
    font-family: 'acme', sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    cursor: pointer;
}

.resultForm{
    background-color: rgba(255, 169, 184, 1);
    font-family: 'Acme', sans-serif;
    margin-right: 30px;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    width: 40%;
    padding: 30px;
}

.resultForm ul {
    list-style-type: none;
    padding: 0;
}

.resultForm li {
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
}

.resultForm li:hover {
    background-color: rgba(179, 224, 245, 1);
}

.buttonForm:hover {
    background-color: rgba(255, 169, 184, 1);
    color: #fff;
}